    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    * {
        margin: 0%;
        padding: 0%;
        border: none;
    }

    body {
        font-family: roboto, sans-serif;
        font-weight: 300;
        color: #ffb101;
        background-color: black;
    }

    /* heading and logo style*/
    h1,
    h2 {
        font-family: bebas neue, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #ffb101;


    }

    #logo {
        float: left;
        font-size: 280%;
        padding: 0 0 0 30px;
    }

    /* navigation links*/
    #menu {
        font-size: 110%;
        letter-spacing: 4px;
    }

    #menu,
    #logo {
        line-height: 75px;
    }

    #menu li {
        float: right;
        padding: 0 0 0 30px;
        list-style-type: none;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
    }

    #menu a:hover {
        color: aqua;
    }

    #menu a.active {
        border-bottom: solid 2px;
        border-color: aqua;
    }


    /* shadowland image*/

    #shadow {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #cover-info #cover-info h2 {
        color: red;
    }

    #shadowland {
        height: 600px;
        width: 100%;
        background-image: url("https://c4.wallpaperflare.com/wallpaper/347/389/135/blizzard-entertainment-sylvanas-windrunner-world-of-warcraft-sylvanas-windrunner-the-dark-lady-hd-wallpaper-preview.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

    #cover-info {
        font-size: 130%;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        width: 300px;
        height: 200px;
        padding: 30px 0 0 20px;
        background-color: rgba(8, 8, 8, 0.604);
        bottom: 30px;
        right: 150px;
        position: absolute;
    }

    /*abaout us*/

    #about {
        height: auto;
        text-align: center;

    }

    #about h2 {
        background-color: #ffb301ad;
        color: black;
    }

    #about h3 {
        font-size: 1.5rem;
    }

    #about #we-tell {
        padding: 10px 0 10px;
    }

    #us {
        padding: 20px 0 20px;
        font-size: 280%;
        font-family: roboto, sans-serif;
    }

    #pa {
        width: 100%;
        text-align: center;
        margin: 10px 0 20px;
        background-color: #ffb301ad;
        color: black;
        font-size: 1.5rem;
        font-family: bebas neue, sans-serif;
        padding: 10px 0 10px;
    }

    /*sign up with you name */

    #youname {
        text-align: center;
        background-color: #ffb301ad;
        border-style: solid;
        border-color: black;
    }

    .form-label {
        color: black;
        font-family: bebas neue, sans-serif;
    }

    .form-text {
        color: black;
        font-family: bebas neue, sans-serif;
        font-size: 1.2rem;
    }

    /* footer style*/

    .footEr {
        text-align: center;
        background-color: #ffb301ad;
        padding: 20px 0 20px;
    }

    .copyright {
        color: black;
        font-family: bebas neue;

    }

    .footEr a {
        font-size: 2.5rem;
        color: black;
        padding: 10px 0 10px;
    }

    /*videos style*/

    .videos {
        overflow: hidden;
        height: auto;
        width: 100%;
        height: auto;

    }

    .videos h2 {
        text-align: center;
        font-size: 280%;
        padding: 50px 0 50px;
        background-color: #ffb301ad;
        color: black;
    }

    .videos #allvideos {
        text-align: center;
        column-count: 5;
        padding: 20px 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .videos a {
        padding: 5px;
    }

    #allvideos img {
        height: auto;
        width: 100%;
        border: solid 4px;
        border-color: #ffb301ad;
    }

    /*guides style*/

    .classguide {
        text-align: center;
        text-decoration: none;
        padding: 10px 0 10px;
    }

    .classguide h2 {
        padding: 20px 0 20px;
        background-color: #ffb301ad;
        color: black;
    }

    .class {
        column-count: 2;
    }

    #guide li {
        list-style: none;
    }

    #guide #dh span {
        padding: 20px 0 20px;
    }

    #guide a {
        text-decoration: none;
        font-size: 2rem;
        color: #ffb101;
    }

    #guide a:hover {
        color: aqua;
    }

    #guide img {
        height: auto;
        width: 24%;
        padding: 20px 0 20px;
    }

    #guide span {
        display: list-item;
    }

    /*raid style*/
    #back {
        background-color: rgba(8, 8, 8, 0.604);
        padding: 10px 0 10px;
    }

    .raid {
        background-image: url(https://static.icy-veins.com/forum-files/news/57989-more-detailed-sanctum-of-domination-seak-peek-preview.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        background-position: center center;
        height: auto;
        clear: both;
        width: 100%;
    }

    .raid h2 {
        font-size: 280%;
        padding: 40px 0 40px;
        font-family: roboto, sans-serif;
        text-decoration: none;
        background-color: #ffb301ad;
        color: black;
    }

    .raid a {
        font-size: 1.7rem;
        color: #ffb101;
        font-family: beba neue, sans-serif;
        padding: 20px 0 20px;
        margin: 50px;
    }

    .raid a:hover {
        color: aqua;
    }

    #times h3 {
        font-size: 180%;
        padding: 50px 0 40px;
        font-family: roboto, sans-serif;
        background-color: #ffb301ad;
        color: black;
    }

    #times p {
        font-size: 1.3rem;
        font-family: beba neue, sans-serif;
        padding: 20px 0 20px;
        background-color: rgba(8, 8, 8, 0.604);
    }

    /*raiders style*/

    .raidroster {
        background-color: black;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        clear: both;

    }

    .raidroster h2 {
        font-size: 280%;
        font-family: roboto, sans-serif;
        text-align: center;
        background-color: #ffb301ad;
        color: black;
    }

    .main {
        text-align: center;
        column-count: 4;
    }

    #roster li {
        list-style: none;
    }

    #roster a {
        text-decoration: none;
        color: #ffb101;
        font-size: 2rem;
    }

    #roster a:hover {
        color: aqua;
    }

    #roster img {
        width: 50%;
        height: auto;
    }

    #roster span {
        display: flow-root;
        padding: 20px 0 20px;
    }

    .recruiting {
        text-align: center;
        clear: both;
        background-image: url(https://i1.wp.com/phenixxgaming.com/wp-content/uploads/2019/09/Anduin-and-Sylvanas-1.jpg?resize=840%2C473);
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        width: auto;


    }

    .recruiting h1 {
        font-size: 3rem;
        padding: 20px 0 20px;
        background-color: #ffb301ad;
        color: black;
    }

    .recruiting p {
        background-color: rgba(8, 8, 8, 0.604);
        font-size: 1.5rem;
        font-family: beba neue, sans-serif;
        padding: 20px 0 20px;

    }

    .recruiting h2 {
        background-color: #ffb301ad;
        color: black;
    }

    #contactUs {
        padding: 20px 0 20px 0;
        padding-top: 50px;
        font-size: 3rem;
        font-family: 'beba Neue', sans-serif;
        text-align: center;
        background-color: #ffb301ad;
        color: black;
    }

    .form {
        padding: 20px 0 20px;
        text-align: center;
    }

    .form-group {
        font-size: 2rem;
        display: inline-grid;

    }

    .form-control {
        font-size: 1.5rem;
        border-radius: 3px;
        margin: 5px;
    }

    .btn {
        font-size: 1.5rem;
        border-radius: 3px;
        margin: 10px;
    }

    .form-check {
        font-size: 1.5rem;

    }

    .form-text {
        font-size: 1.2rem;
        color: #ffb101;
    }





    /*media queries*/

    @media screen and (max-width: 1200px) {
        #about {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        #us {
            padding: 30px 0;
            margin: 0 auto;
        }
    }

    .videos>div {
        width: 100%;
        clear: both;
        height: auto;
        padding: 0%;
    }

    .allvideos a {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .recruiting {
        background-size: 100%;
        height: auto;
        width: 100%;
    }


    /*for media screen sizes fro 950px wide and down*/

    @media screen and (max-width: 950px) {
        #menu {
            clear: left;
            float: left;
            line-height: 25px;
        }

        #logo {
            padding: 0 0 0 30px;
        }

        #cove-info {
            left: 0%;
        }

        #about {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }

        #we-tell #pa {
            text-align: center;
            padding: 0 20px;
        }

        .videos {
            height: auto;
        }

        .videos #allvideos {
            column-count: 2;
        }

        .main {
            column-count: 2;
        }
    }

    /*for small screen sizes 800px and down*/

    @media screen and (max-width: 800px) {
        .class {
            column-count: 1;
        }

        .videos {
            height: auto;

        }

        .videos #allvideos {
            column-count: 2;
        }

        .main {
            column-count: 1;
        }
    }

    @media screen and (max-width: 400px) {

        #logo {
            font-size: 240%;
            line-height: 50px;
        }

        #menu {
            clear: left;
            float: left;
            display: grid;
            padding: 20px 0 20px;
            line-height: 30px;
        }

        #shadowland {
            background-size: 350%;

        }

        #shadow {
            height: 400px;
            width: 100%;
        }

        #cover-info {
            width: 50%;
            height: auto;
            padding-top: 0%;

        }

        #us {
            font-size: 150%;
        }

        h2 {
            font-size: 100%;
        }

        #about #we-tell {
            font-size: 100%;
        }

        #pa {
            font-size: 1.2rem;
            margin: 0 0 20px;
        }

        .copyright {
            font-size: 1rem;
        }

        #roster img {
            width: 40%;
            height: auto;
        }

        #guide a {
            font-size: 1.5rem;
        }

        #guide img {
            width: 40%;
            height: 110px;
        }

        .videos {
            background-size: 350%;

        }

        .videos h2 {
            font-size: 130%;
            padding: 0 0 10px;
        }

        #allvideos img {
            width: 50%;
            height: auto;


        }

        .classguide h2 {
            font-size: 100%;
            padding: 0 0 20px;
        }

        .raid {
            background-size: 350%;
        }

        .raid h2 {
            font-size: 150%;
            padding: 20px 0 20px;
        }

        .raid a {
            font-size: 1.3rem;
            padding: 10px 20px 10px;
        }

        #times h3 {
            font-size: 130%;
            padding: 20px 0 10px;
        }

        #times p {
            font-size: 1.2rem;
            padding: 10px 0 10px;
        }

        .raidroster h2 {
            font-size: 150%;
            padding: 20px 0 20px;
        }

        #roster span {
            font-size: 1.5rem;
        }

        .recruiting h1 {
            font-size: 150%;
            padding: 10px 0 10px;
        }

        .recruiting {
            background-size: 350%;
            height: auto;
            width: 100%;
            background-position: center center;


        }

        .recruiting p {
            font-size: 1.2rem;
            padding: 10px 0 10px;
        }

        #contactUs {
            font-size: 150%;
            padding: 0 0 10px;
        }

        .form {
            font-size: 1.2rem;
        }

        .email {
            font-size: 1rem;
        }

        .form-input {
            font-size: 1.2rem;
        }

        #formButton {
            font-size: 1.2rem;
        }

    }